<div class="first-row">
	<a class="sbb-button-grey-small">Q</a>
	<a class="sbb-button-grey-small">W</a>
	<a class="sbb-button-grey-small">E</a>
	<a class="sbb-button-grey-small">R</a>
	<a class="sbb-button-grey-small">T</a>
	<a class="sbb-button-grey-small">Z</a>
	<a class="sbb-button-grey-small">U</a>
	<a class="sbb-button-grey-small">I</a>
	<a class="sbb-button-grey-small">O</a>
	<a class="sbb-button-grey-small">P</a>
</div>

<div class="second-row">
	<a class="sbb-button-grey-small">A</a>
	<a class="sbb-button-grey-small">S</a>
	<a class="sbb-button-grey-small">D</a>
	<a class="sbb-button-grey-small">F</a>
	<a class="sbb-button-grey-small">G</a>
	<a class="sbb-button-grey-small">H</a>
	<a class="sbb-button-grey-small">J</a>
	<a class="sbb-button-grey-small">K</a>
	<a class="sbb-button-grey-small">L</a>
	<a class="sbb-button-ant-medium keyboard-delete"><img src="assets/img/del.svg"></a>
</div>

<div class="third-row">
	<a ui-sref="home" class="sbb-button-ant-medium keyboard-back">zurück</a>
	<a class="sbb-button-grey-small">Y</a>
	<a class="sbb-button-grey-small">X</a>
	<a class="sbb-button-grey-small">C</a>
	<a class="sbb-button-grey-small">V</a>
	<a class="sbb-button-grey-small">B</a>
	<a class="sbb-button-grey-small">N</a>
	<a class="sbb-button-grey-small">M</a>
	<a class="sbb-button-grey-small keyboard-space"><img src="assets/img/space.svg"></a>
	<a ui-sref="home" class="sbb-button-ant-medium keyboard-confirm" ng-click="keyboard.fillInput()">bestätigen</a>
</div>