//.ui-view-container {
//  position: relative;
//  height: 65px;
//}

// da funktioniert leider nöd
//[ui-view].ng-enter-active, [ui-view].ng-leave-active, [ui-view].ng-enter, [ui-view].ng-leave {
//  div.grid-block.main {
//	padding-left: rem-calc(36);
//	padding-right: rem-calc(36);
//  }
//}

[ui-view].ng-enter, [ui-view].ng-leave {
  //position: absolute;
  //left: 0;
  //right: 0;
  //padding-left: rem-calc(36);
  //padding-right: rem-calc(36);

  transition: all 0.5s;
}

#home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
  transition: all 0.5s;
}

[ui-view].ng-enter { // start animation
  opacity: 0;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(1366px);
  }

  //#schedule {
	//transform: translate(-1366px);
  //}

}

[ui-view].ng-enter-active { // ende animation
  opacity: 1;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(0);
  }

  //#schedule {
	//transform: translate(0);
  //}

}

[ui-view].ng-leave { // start animation
  opacity: 1;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(0px);
  }

  //#schedule {
	//transform: translate(0px);
  //}
}

[ui-view].ng-leave-active { // ende animation
  opacity: 0;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(-1366px);
  }

  //#schedule {
	//transform: translate(1366px);
  //}
}


// BACK

[ui-view].ng-enter.back, [ui-view].ng-leave.back {
  //position: absolute;
  //left: 0;
  //right: 0;
  //padding-left: rem-calc(36);
  //padding-right: rem-calc(36);

  transition: all 0.5s;
}

#home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
  transition: all 0.5s;
}

[ui-view].ng-enter.back { // start animation
  opacity: 0;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(-1366px);
  }

  //#schedule {
  //transform: translate(-1366px);
  //}

}

[ui-view].ng-enter-active.back { // ende animation
  opacity: 1;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(0);
  }

  //#schedule {
  //transform: translate(0);
  //}

}

[ui-view].ng-leave.back { // start animation
  opacity: 1;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(0px);
  }

  //#schedule {
  //transform: translate(0px);
  //}
}

[ui-view].ng-leave-active.back { // ende animation
  opacity: 0;

  #home, #schedule, #ticket-type, #ticket-class, #ticket-amount, #pay, #final {
	transform: translate(1366px);
  }

  //#schedule {
  //transform: translate(1366px);
  //}
}