/**
 * Custom SCSS File for SBB-TVM
 * @author: Fernando Obieta
 * @date: 160531
 */

/* Fix */
.grid-block {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


/* General Setup */
.grid-frame {

  // Fake columns
  //padding-left: rem-calc(36);
  //padding-right: rem-calc(36);

  // Fix the size of the iPad Pro
  width: 1366px;
  height: 1024px !important;

  // center it in the middle of the screen for future use on a webpage
  margin: auto;

  //Background image
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-content {
  padding-left: rem-calc(38);
  padding-right: rem-calc(38);
}

.main {

  // the header is positioned absolute; to make sure that the content always start after the header
  margin-top: rem-calc(160);

  label {
	font-weight: bold;
	text-shadow: $text-shadow;
	font-size: rem-calc(20);
  }
}

/* Buttons */
/* Large Buttons */
// extend the standard foundation button with general settings for all standard sbb tvm buttons
@mixin sbb-button {
  @extend %button;

  height: rem-calc(80);
  width: rem-calc(360);

  margin-bottom: rem-calc(30);

  // center the text vertically in the fixed size
  padding-top: rem-calc(27);

  font-size: rem-calc(28);
}

// red button
.sbb-button-red {
  @include sbb-button;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-red
  );
  background: $gradient-red;
  background: -moz-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -webkit-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -ms-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  box-shadow: $box-shadow;
}

// blue button
.sbb-button-blue {
  @include sbb-button;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-blue
  );
  background: $gradient-blue;
  background: -moz-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 106));
  background: -webkit-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  background: -ms-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  box-shadow: $box-shadow;
}

// grey button
.sbb-button-grey {
  @include sbb-button;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-grey
  );
  background: $gradient-grey;
  background: -moz-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -webkit-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -ms-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  box-shadow: $box-shadow;
}

/* Medium Buttons */
// extend the standard foundation button with general settings for all standard sbb tvm buttons small
@mixin sbb-button-small {
  @extend %button;

  height: rem-calc(80);
  width: rem-calc(140);

  margin-bottom: rem-calc(30);

  // center the text vertically in the fixed size
  padding-top: rem-calc(27);

  font-size: rem-calc(28);
}

.sbb-button-red-medium {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-red
  );
  background: $gradient-red;
  background: -moz-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -webkit-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -ms-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  box-shadow: $box-shadow;

}

.sbb-button-blue-medium {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-blue
  );
  background: $gradient-blue;
  background: -moz-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 106));
  background: -webkit-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  background: -ms-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  box-shadow: $box-shadow;
}

.sbb-button-grey-medium {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-grey
  );
  background: $gradient-grey;
  background: -moz-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -webkit-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -ms-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  box-shadow: $box-shadow;
}

/* Small Buttons */
// extend the standard foundation button with general settings for all standard sbb tvm buttons small
@mixin sbb-button-small {
  @extend %button;

  height: rem-calc(80);
  width: rem-calc(80);

  // center the text vertically in the fixed size
  padding-top: rem-calc(27);

  font-size: rem-calc(28);
}

.sbb-button-red-small {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-red
  );
  background: $gradient-red;
  background: -moz-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -webkit-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  background: -ms-linear-gradient(180deg, rgb(236, 36, 36), rgb(200, 0, 0));
  box-shadow: $box-shadow;

  // If an images or icon is inside the button
  padding: rem-calc(22) rem-calc(23) rem-calc(23) rem-calc(25);
}

.sbb-button-blue-small {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-blue
  );
  background: $gradient-blue;
  background: -moz-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 106));
  background: -webkit-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  background: -ms-linear-gradient(180deg, rgb(75, 79, 143), rgb(38, 43, 10));
  box-shadow: $box-shadow;
}

.sbb-button-grey-small {
  @include sbb-button-small;
  @include button-style(
		  $color: $body-font-color,
		  $background-hover: $gradient-grey
  );
  background: $gradient-grey;
  background: -moz-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -webkit-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  background: -ms-linear-gradient(180deg, rgb(177, 189, 207), rgb(140, 152, 171));
  box-shadow: $box-shadow;
}

/* Input field */
.input-field {
  position: relative;
  display: block;
  width: 100%;
  height: rem-calc(80);
  background-color: #fff;
  box-shadow: $box-shadow;
  span {
	display: inline-block;
	color: $dark-body-font-color;
	font-size: rem-calc(28);
	padding: rem-calc(27) rem-calc(27+80) rem-calc(27) rem-calc(27);
	overflow: hidden;
	white-space: nowrap;
	max-width: 82.5%;
  }
  a {
	position: absolute;
	right: 0;
	margin: 0;
	box-shadow: none;
  }
}

/* Header */
header {
  position: absolute;
  width: 1294px;
  padding: rem-calc(38);
  p {
	font-weight: bold;
	text-shadow: $text-shadow;
  }
  img {
	width: rem-calc(248);
  }
  p.time {
	font-size: rem-calc(24);
	position: absolute;
	top: rem-calc(36);
	left: 0;
	right: 0;
	text-align: center;
  }
  p.date {
	font-size: rem-calc(20);
	position: absolute;
	top: rem-calc(36);
	right: 0;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  div.footer-buttons {
	margin-left: rem-calc(0);
	margin-right: rem-calc(0);
	padding: rem-calc(38);
	background-color: $footer-bg;
	a {
	  margin-right: rem-calc(30);
	  margin-bottom: 0;
	}
  }
}

/* Panel */
.main-panel {
  //margin-left: rem-calc(36);
  background: $panel-bg;
  label {
	font-weight: bold;
	text-shadow: $text-shadow;
	font-size: rem-calc(20);
  }
}

/* Home */
#home {
  .main-panel div {
	label, .text-center a {
	  margin-top: rem-calc(60);
	}
  }
}

/* Schedule */
#schedule {
  .labels {
	// same height as the other pages; the labels are above the panels
	margin: rem-calc(-40) 0 rem-calc(10) 0;
	padding: 0 rem-calc(40);
  }
  .results {
	// full width of the parent
	width: 100%;
	.result-panel {
	  height: rem-calc(170);
	  background: $panel-bg;
	  margin: 0;
	  padding: rem-calc(30) rem-calc(40) rem-calc(25) rem-calc(40);
	  margin-bottom: rem-calc(30);

	  // Connection
	  .connection p {
		font-size: rem-calc(28);
	  }
	  .connection p.via {
		font-size: rem-calc(20);
	  }
	  p {
		font-size: rem-calc(24);
		margin: 0;
	  }
	  p.destination {
		position: absolute;
		//bottom: rem-calc(30);
	  }
	  .vertical-bla {
		//vertical-align: middle;
	  }
	}
	.ticket {
	  position: absolute;
	  right: rem-calc(15);
	}
  }
  .specify {
	display: flex;
	a {

	}
  }
}

