---
name: home
url: /
---

<div id="home" class="grid-block main">
	<div class="grid-content medium-7 main-panel">
		<div class="medium-10 medium-offset-1">
			<label>von</label>
			<div class="to input-field">
				<span class="input-to">Zürich HB</span>
				<a href="#" class="sbb-button-red-small"></a>
			</div>



			<label>nach</label>
			<div class="from input-field">
				<span class="input-from"></span>
				<a href="#" class="sbb-button-red-small"></a>
			</div>


			<div class="text-center">
				<a href="#" class="sbb-button-red">Verbindungen anzeigen</a>
			</div>

		</div>
	</div>

	<div class="grid-content medium-3 medium-offset-1">
		<a href="#" class="sbb-button-blue">Verbundsabonnements</a>
		<a href="#" class="sbb-button-blue">Streckenabonnements</a>
		<a href="#" class="sbb-button-grey">Scan Swisspass</a>
		<a href="#" class="sbb-button-grey">Weitere Angebote</a>
		<a href="#" class="sbb-button-red">Nachtzuschlag</a>
	</div>
</div>
