---
name: schedule
url: /schedule
---

<div id="schedule" class="grid-block main">
	<div class="labels grid-block">
		<label class="medium-6">Verbindung vom Donnerstag, 18. Dezember 2016</label>
		<label class="medium-1">Zeit</label>
		<label class="medium-1">Dauer</label>
		<label class="medium-1">Umst.</label>
		<label class="medium-1">Belegung</label>
	</div>
	<div class="results">
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div class="vertical-bla">
					<p class="start">Zürich HB</p>
					<p class="via">via Olten - Aarau</p>
					<p class="destination">Bern</p>
				</div>
			</div>
			<div class="time medium-1">
				<p>16:32</p>
				<p>17:09</p>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1"></div>
			<div class="ticket medium-2	">
				<a href="#" class="ticket sbb-button-red-medium">Ticket</a>
			</div>
		</div>
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div class="vertical-bla">
					<p class="start">Zürich HB</p>
					<p class="via">via Olten - Aarau</p>
					<p class="destination">Bern</p>
				</div>
			</div>
			<div class="time medium-1">
				<p>16:32</p>
				<p>17:09</p>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1"></div>
			<div class="ticket medium-2	">
				<a href="#" class="ticket sbb-button-red-medium">Ticket</a>
			</div>
		</div>
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div class="vertical-bla">
					<p class="start">Zürich HB</p>
					<p class="via">via Olten - Aarau</p>
					<p class="destination">Bern</p>
				</div>
			</div>
			<div class="time medium-1">
				<p>16:32</p>
				<p>17:09</p>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1"></div>
			<div class="ticket medium-2	">
				<a href="#" class="ticket sbb-button-red-medium">Ticket</a>
			</div>
		</div>
	</div>
	<div class="specify">
		<a href="" class="sbb-button-blue-medium">früher</a>
		<a href="" class="sbb-button-blue">Datum / Zeit ändern</a>
		<a href="" class="sbb-button-blue-medium">später</a>
	</div>
</div>
