---
name: schedule
url: /schedule
---

<div id="schedule" class="grid-block main">
	<div class="labels grid-block">
		<label class="medium-6">Verbindung vom Donnerstag, 18. Dezember 2016</label>
		<label class="medium-1">Zeit</label>
		<label class="medium-1">Dauer</label>
		<label class="medium-1">Umst.</label>
		<label class="medium-1">Belegung</label>
	</div>
	<div class="results">
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div>
					<p>Zürich HB</p>
					<p class="via">via Olten - Aarau</p>
					<p>{{logic.mainTo}}</p>
				</div>
			</div>
			<div class="timetable medium-1">
				<div>
					<p>16:32</p>
					<p>17:09</p>
				</div>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1">
				<div>
					<p>1. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
					<p>2. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
				</div>
			</div>
			<div class="ticket medium-2	">
				<a ui-sref="ticket-type" class="sbb-button-red-medium">Ticket</a>
			</div>
		</div>
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div>
					<p>Zürich HB</p>
					<p>Bern</p>
				</div>
			</div>
			<div class="timetable medium-1">
				<div>
					<p>16:32</p>
					<p>17:09</p>
				</div>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1">
				<div>
					<p>1. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
					<p>2. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
				</div>
			</div>
			<div class="ticket medium-2	">
				<a ui-sref="ticket-type" class="sbb-button-red-medium">Ticket</a>
			</div>
		</div>
		<div class="result-panel grid-block">
			<div class="connection medium-6">
				<div>
					<p>Zürich HB</p>
					<p>Bern</p>
				</div>
			</div>
			<div class="timetable medium-1">
				<div>
					<p>16:32</p>
					<p>17:09</p>
				</div>
			</div>
			<div class="duration medium-1">
				<p>0:37</p>
			</div>
			<div class="change  medium-1">
				<p>3</p>
			</div>
			<div class="occupancy medium-1">
				<div>
					<p>1. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
					<p>2. <img class="on" src="assets/img/dude.svg"><img src="assets/img/dude.svg"><img src="assets/img/dude.svg"></p>
				</div>
			</div>
			<div class="ticket medium-2	">
				<a ui-sref="ticket-type" class="sbb-button-red-medium">Ticket</a>
			</div>
		</div>
	</div>
	<div class="specify grid-block">
		<div class="medium-2"><a href="" class="sbb-button-blue-medium">früher</a></div>
		<div class="medium-4 medium-offset-2"><a href="" class="sbb-button-blue">Datum / Zeit ändern</a></div>
		<div class="medium-2 medium-offset-2"><a href="" class="sbb-button-blue-medium">später</a></div>
	</div>
</div>
