---
name: schedule
url: /schedule
---

<div id="schedule" class="grid-block main">
	<div class="labels grid-block">
		<label class="medium-6">Verbindung vom {{logic.mainTime | date: 'EEEE, d. MMMM y'}}</label>
		<label class="medium-1">Zeit</label>
		<label class="medium-1">Dauer</label>
		<label class="medium-1">Umst.</label>
		<label class="medium-1">Belegung</label>
	</div>
	<div class="results">

		<div class="result-panel grid-block" ng-repeat="connection in logic.connections">
			<div class="connection medium-6">
				<div>
					<p>{{connection.from.station.name}}</p>
					<p class="via" ng-show="connection.transfers != 0">via {{connection.viaString}} </span></p>
					<p>{{connection.to.station.name}}</p>
				</div>
			</div>
			<div class="timetable medium-1">
				<div>
					<p>{{connection.from.departureTimestamp * 1000 | date:'HH:mm'}}</p>
					<p>{{connection.to.arrivalTimestamp * 1000 | date:'HH:mm'}}</p>
				</div>
			</div>
			<div class="duration medium-1">
				<p>{{connection.duration}}</p>
			</div>
			<div class="change medium-1">
				<p>{{connection.transfers}}</p>
			</div>
			<div class="occupancy medium-1">
				<div>
					<p>1. <img class="on" src="assets/img/dude.svg"><img ng-class="{on: connection.from.prognosis.capacity1st == '2' || connection.from.prognosis.capacity1st == '3'}" src="assets/img/dude.svg"><img ng-class="{on: connection.from.prognosis.capacity1st == '3'}" src="assets/img/dude.svg"></p>
					<p>2. <img class="on" src="assets/img/dude.svg"><img ng-class="{on: connection.from.prognosis.capacity2nd == '2' || connection.from.prognosis.capacity2nd == '3'}" src="assets/img/dude.svg"><img ng-class="{on: connection.from.prognosis.capacity2nd == '3'}" src="assets/img/dude.svg"></p>
				</div>
			</div>
			<div class="ticket medium-2	">
				<a ng-click="logic.chooseVia(connection.transfers == 0 ? 'direkt' : connection.viaString)" class="sbb-button-red-medium">Ticket</a>
			</div>
		</div>

	</div>
	<div class="specify grid-block">
		<div class="medium-2">
			<a href="" class="sbb-button-blue-medium disabled">früher</a>
		</div>
		<div class="medium-4 medium-offset-2">
			<a ng-click="logic.popupToggle('date')" class="sbb-button-blue">Datum / Zeit ändern</a>
		</div>
		<div class="medium-2 medium-offset-2">
			<a href="" class="sbb-button-blue-medium">später</a>
		</div>
	</div>
</div>
