---
name: search-to
url: /search-to
---

<div id="search-to" class="grid-block main">
	<div class="grid-content medium-7 main-panel">
		<div class="medium-10 medium-offset-1">

			<label>nach</label>
			<div class="to input-field">
				<span class="input-to">{{logic.mainTo}}</span>
				<a class="sbb-button-red-small"><img src="assets/img/edit.svg"></a>
			</div>
			<div class="suggestion">
				<a class="sbb-button-red" ng-repeat="station in logic.suggestions | limitTo: 4" ng-click="locationShortcut(station.name, 'to')">{{station.name}}</a>
			</div>

		</div>
	</div>

	<div class="grid-content medium-3 medium-offset-1">
		<a class="sbb-button-blue" ng-repeat="place in logic.frequent" ng-click="locationShortcut(place, 'to')">{{place}}</a>
	</div>
</div>

<keyboard output-target="logic.mainTo" on-submit="onKeyboardSubmit" on-refresh="onKeypressRefresh" destination="to"></keyboard>