---
name: search-to
url: /search-to
---

<div id="search-to" class="grid-block main">
	<div class="grid-content medium-7 main-panel">
		<div class="medium-10 medium-offset-1">

			<label>nach</label>
			<div class="to input-field">
				<span class="input-to"></span>
				<a href="#" class="sbb-button-red-small"><img src="assets/img/edit.svg"></a>
			</div>
			<div class="suggestion">
				<a class="sbb-button-red">Haselistan</a>
				<a class="sbb-button-red">Haselistan</a>
				<a class="sbb-button-red">Haselistan</a>
				<a class="sbb-button-red">Haselistan</a>
			</div>

		</div>
	</div>

	<div class="grid-content medium-3 medium-offset-1">
		<a class="sbb-button-blue" ng-repeat="place in logic.frequent">{{place}}</a>
	</div>
</div>

<keyboard></keyboard>