---
name: search-from
url: /search-from
---

<div id="search-from" class="grid-block main">
	<div class="grid-content medium-7 main-panel">
		<div class="medium-10 medium-offset-1">

			<label>von</label>
			<div class="from input-field">
				<span class="input-from">{{logic.mainFrom}}</span>
				<a href="#" class="sbb-button-red-small"><img src="assets/img/edit.svg"></a>
			</div>
			<div class="suggestion">
				<a class="sbb-button-red" ng-repeat="station in logic.suggestions | limitTo: 4" ng-click="locationShortcut(station.name, 'from')">{{station.name}}</a>
			</div>

		</div>
	</div>

	<div class="grid-content medium-3 medium-offset-1">
		<a class="sbb-button-blue" ng-repeat="place in logic.frequent" ng-click="locationShortcut(place, 'from')">{{place}}</a>
	</div>

</div>

<keyboard output-target="logic.mainFrom" on-submit="onKeyboardSubmit" on-refresh="onKeypressRefresh" destination="from"></keyboard>