---
name: ticket-class
url: /ticket-class
---

<div id="ticket-class" class="grid-block main">
	<div class="medium-6 ticket-panel">
		<div class="medium-10 medium-offset-1">
			<h4>Einzelbillett</h4>
			<h5>Donnerstag, 22. Dezember 2016, 18:35</h5>
			<label>von</label>
			<div class="to input-field">
				<span class="input-to">Zürich HB</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<label>nach</label>
			<div class="from input-field">
				<span class="input-from">Frauenfeld</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<label>via</label>
			<div class="via input-field">
				<span class="input-from">Weinfelden</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<div class="input-field input-field-type">
				<span><img src="assets/img/type_single_c.svg"></span>
				<!--<span><img src="assets/img/type_double_c.svg">Retour</span>-->
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<!--<div class="input-field input-field-class">-->
				<!--&lt;!&ndash;<span><b>1.</b>	Klasse</span>&ndash;&gt;-->
				<!--<span><b>2.</b></span>-->
				<!--<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>-->
			<!--</div>-->
		</div>
	</div>
	<div class="class-progress medium-5 medium-offset-1">
		<div class="medium-12 class-panel">
			<a ui-sref="ticket-amount" class="sbb-button-red"><b>1.</b> Klasse</a>
			<a ui-sref="ticket-amount" class="sbb-button-red"><b>2.</b> Klasse</a>
		</div>
	</div>
</div>
