---
name: ticket-amount
url: /ticket-amount
---

<div id="ticket-amount" class="grid-block main">
	<div class="medium-6 ticket-panel">
		<div class="medium-10 medium-offset-1">
			<h4>Einzelbillett</h4>
			<h5>Donnerstag, 22. Dezember 2016, 18:35</h5>
			<label>von</label>
			<div class="from input-field">
				<span class="input-from">Zürich HB</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<label>nach</label>
			<div class="to input-field">
				<span class="input-to">Frauenfeld</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<label>via</label>
			<div class="via input-field">
				<span class="input-from">Weinfelden</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<div class="input-field input-field-type">
				<span><img src="assets/img/type_single_c.svg"></span>
				<!--<span><img src="assets/img/type_double_c.svg">Retour</span>-->
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

			<div class="input-field input-field-class">
				<!--<span><b>1.</b>	Klasse</span>-->
				<span><b>2.</b> Klasse</span>
				<a href="#" class="sbb-button-blue-small"><img src="assets/img/edit.svg"></a>
			</div>

		</div>
	</div>
	<div class="amount-progress medium-5 medium-offset-1">
		<div class="medium-12 amount-panel">
			<label>Erwachsene</label>
			<div class="number-input-field">
				<a href="#" class="sbb-button-red-small subtract"><img src="assets/img/sub.svg"></a>
				<span>2</span>
				<a href="#" class="sbb-button-red-small add"><img src="assets/img/add.svg"></a>
			</div>

			<label>Halbtax / Kinder</label>
			<div class="number-input-field">
				<a href="#" class="sbb-button-red-small subtract"><img src="assets/img/sub.svg"></a>
				<span>2</span>
				<a href="#" class="sbb-button-red-small add"><img src="assets/img/add.svg"></a>
			</div>

			<label>Velo</label>
			<div class="number-input-field">
				<a href="#" class="sbb-button-grey-small subtract"><img src="assets/img/sub.svg"></a>
				<span>2</span>
				<a href="#" class="sbb-button-grey-small add"><img src="assets/img/add.svg"></a>
			</div>

			<label>Hund</label>
			<div class="number-input-field">
				<a href="#" class="sbb-button-grey-small subtract"><img src="assets/img/sub.svg"></a>
				<span>2</span>
				<a href="#" class="sbb-button-grey-small add"><img src="assets/img/add.svg"></a>
			</div>

			<div class="pay-button">
				<a ui-sref="pay" class="sbb-button-red">Bestätigen</a>
			</div>
		</div>
	</div>
</div>
